* {
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #f5f1de;
  span {
    color: #000316;
    font-size: 36px;
    display: block;
    font-weight: bold;
  }
}
.Btn {
  border: 5px #d0ac11 solid;
  padding: 10px;
  span {
    color: #000316;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
  }
  transition: 0.2s;
  &:hover {
    background-color: #d0ac11;
  }
}
.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
}
